<div class="card">
  <div class="card-body">
    <h2>Approve Holidays</h2>
    <table class="table-responsive">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Start Date</th>
          <th scope="col">End Date</th>
          <th scope="col">Status</th>
          <th scope="col">Comments</th>
        </tr>
      </thead>
      <tbody>
        {{#each user}}
        <tr>
          <td scope="row">{{this._userId.name}}</th>
          <td>{{this.startDate}}</td>
          <td>{{this.endDate}}</td>
          <td>{{this.status}}</td>
          <td>
            <form action="/approve-holidays/{{this._id}}" method="POST">
              <textarea name="managerComment" cols="16" rows="3"></textarea> <br>
              <select clas="custom-select" name="status">
                <option value="APPROVED">Approved</option>
                <option value="REJECTED">Rejected</option>
              </select>
              <button class="btn btn-primary">Confirm</button>
            </form>
          </td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>