<div class="card">
  <div class="card-body">
    <h2>Approve Holidays</h2>
    <ul>
      {{#each user}}
      <li>
        {{this.name}}
        {{this.startDate}}
        {{this.endDate}}
        {{this.status}}
        <form action="/approve-holidays/{{this._id}}" method="POST">
          Comments:  <textarea name="managerComment" cols="16" rows="3"></textarea> <br>
          <select name="status">
            <option value="APPROVED">Approved</option>
            <option value="REJECTED">Rejected</option>
          </select>
          <button>Confirm</button>
        </form>
      </li>
      {{/each}}
    </ul>
  </div>
</div>