<div class="card">
  <div class="card-body">
<h2>Employee List</h2>
  <table class="table-responsive">
      <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Username</th>
        <th scope="col">Email</th>
        <th scope="col">Linkedin</th>
        <th scope="col">Github</th>
        <th scope="col">Allowance</th>
        <th scope="col">Job Title</th>
        <th scope="col">Holidays Booked</th>
      </tr>
    </thead>
    <tbody>
      {{#each users}}
      <tr>
        <th scope="row">{{this.name}}</th>
        <td>{{this.username}}</td>
        <td>{{this.email}}</td>
        <td>{{this.linkedinUrl}}</td>
        <td>{{this.githubUrl}}</td>
        <td>{{this.holidayAllowance}}</td>
        <td>{{this.jobTitle}}</td>
        <td>{{this.holidayBooked}}</td>
      </tr>
      {{/each}}
    </tbody>
  </table>
  </div>
</div>