<div class="card">
  <div class="card-body">
    <h2>Welcome, {{ name }}!</h2>
    <ul class="list-unstyled">
      <li>Email:  {{ email }}</li>
      <li>Job Title:  {{ jobTitle }}</li>
      <li>Holiday Allowance:  {{ holidayAllowance }}</li>
      <li>Holidays Booked:  {{ holidayBooked }}</li>
    </ul>
  </div>
</div>