<h2>Manage your employee holiday allowance.</h2>
<ul class="list-unstyled">
  <li>Name:  {{ name }}</li>
  <li>Email:  {{ email }}</li>
  <li>Job Title:  {{ jobTitle }}</li>
  <li>Holiday Allowance:  {{ holidayAllowance }}</li>
  <li>Holidays Booked:  {{ holidayBooked }}</li>
</ul>
