<div class="card">
  <div class="card-body">
    <h2>{{name}}'s Profile</h2>
    <ul class="list-unstyled">
      <li>Name:  {{ name }}</li>
      <li>Username:  {{ username }}</li>
      <li>Change Password:  </li>
      <li>Email:  {{ email }}</li>
      <li>Role:  {{ role }}</li>
      <li>Linkedin:  <a target="_blank" href="{{ linkedinUrl }}">{{ linkedinUrl }}</a></li>
      <li>Github:  <a target="_blank" href="{{ githubUrl }}">{{ githubUrl }}</a></li>
      <li>Start Date:  {{ startDate }}</li>
    </ul>
  </div>
</div>